<div class="align">
  <div class="flex_display" id="width">
    <form action="/answer">
      <div class="ask">
      <input type="text" name="input" placeholder="What is your question?" id="input_bar">
      <input type="submit" value="Ask!" id="btn">
      </div>
    </form>
  </div>
</div>
